## **TIPOS DE DATOS**

In [1]:
x = 5

In [2]:
type(x)

int

In [6]:
y = 3.0

In [7]:
type(y)

float

In [3]:
# Datos booleanos
es_verdadero = True
es_falso = False

In [ ]:
type(es_verdadero)

In [ ]:
# Dato tipo string
saludo = "Hola"
type(saludo)

In [ ]:
# Dato tipo complejo
z = 2 +3j
type(z)

In [ ]:
# Transformar de string a entero
a = '6'
type(a)
b = int(a)
type(b)

In [1]:
# Numeros Random
import random

In [2]:
aleatorio = random.randrange(1, 10) # Numeros aleatorios del 1 al 9.
print(aleatorio)

8

In [10]:
aletorio_par = random.randrange(2, 11, 2) # Numeros pares aleatorios 
print(aletorio_par)

aletorio_impar = random.randrange(1, 10, 2) # Numeros impares aleatorios 
print(aletorio_impar)

2
9

In [7]:
import random
x = random.randint(1, 6) #Número entero random.
y = random.random() # Número random entre el 0 y 1.

mi_lista = ['Piedra', 'Papel', 'Tijera']
z = random.choice(mi_lista)

print(z)

Papel

In [8]:
# Mezclar
cartas = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K']
random.shuffle(cartas)

print(cartas)

['J', 'K', '2', '6', '8', 'Q', '3', '9', '1', '7', '10', '5', '4']

## **OPERADORES ARITMETICOS**

In [9]:
# Suma
3+4

7

In [10]:
#Resta
3-4

-1

In [11]:
#Multiplicación 
3*4

12

In [12]:
#División
25/4

6.25

In [13]:
#División entera
25//4

6

In [14]:
#Modulo (resto)
25 % 4

1

In [15]:
#Potencia
4**2

16

## **OPERADORES DE COMPARACION**

In [18]:
#Igualdad
5==5

True

In [19]:
#Diferente
5!=5

False

In [21]:
#Menor que, Menor o igual
5<=3

False

In [22]:
#Mayor, Mayor o igual
5>=3

True

## **OPERADORES LOGICOS**

In [24]:
#AND, OR, NOT
edad = 5
edad > 2 or edad < 1
edad < 10 and edad > 0
not True

False

## **CONDICIONALES**

In [25]:
#if-else
# determinar si un numero es par
num = 3
if num % 2 == 0:
	print("El número es par")
else:
	print("El número es impar")

El número es impar

In [26]:
# Validar signo de un numero
x = 10
if x>0:
	print("El número es positivo")
elif x==0:
	print("El número es cero")
else:
	print("El número es negativo")

El número es positivo

## **MATCH, CASE**

In [28]:
num = 2
match num:
	case 1:
		print("Opcion 1")
	case 2:
		print("Opcion 2")
	case _: #Ninguna de las opciones
		print("Ninguna Opcion")

Opcion 2

In [30]:
num = 2
match num:
	case 0:
		print("Cero")
	case n if n > 0 :
		print("Positivo")
	case n if n < 0 :
		print("Negativo")
	case _: #Ninguna de las opciones
		print("No se puede clasificar")

Positivo

In [32]:
# Indice de masa corporal imc
imc = 30
match imc:
	case valor if 0 < valor <= 18.5:
		print("Peso Bajo")
	case valor if 18.5 < valor <= 24.9:
		print("Peso Normal (Saludable)")
	case valor if 24.9 < valor <= 29.9:
		print("Sobrepeso")
	case valor if 29.9 < valor <= 34.9:
		print("Obesidad Moderada")
	case valor if 34.9 < valor <= 39.9:
		print("Obesidad Severa")
	case valor if 39.9 < valor:
		print("Obesidad Muy Severa")
	case _ :
		print("Valor No Válido")

Obesidad Moderada

## **CADENAS DE TEXTO YY OPERACIONES CON STRINGS**

In [1]:
p = "Pepe"
p
q = "Pérez"
# Concatenar cadena
r = p + " " + q
r

'Pepito Perez'

In [4]:
# Posición
r[0]

'P'

In [6]:
# Sub cadenas
r[0:3]
r[2:5]

'pit'

In [7]:
# Longitud Cadena
len(r)

12

In [8]:
# Ultimo carácter
r[-1]

'z'

In [11]:
r[-4:-1]
r[0:-1]
r[-4:]

'erez'

In [14]:
# Mayúsculas
r.upper()
"daRIO".upper()

'DARIO'

In [15]:
# Minúsculas
r.lower()
"daRIO".lower()

'dario'

In [16]:
# Primera letra mayúscula
"daRIO".capitalize()

'Dario'

In [2]:
# Cadena de texto a lista
r.split()

['Pepito', 'Perez']

## **LISTAS**

In [4]:
# Lista
mi_lista = [1, 2, 3, "Hola", True]
mi_lista[4] # Llamar al dato mediante la posición

True

In [ ]:
# Cambiar valores dentro de lista
mi_lista[1] = "Pepe"
mi_lista

[1, 'Pepito', 3, 'Hola', True]

In [ ]:
# Añadir nuevo elemento en la lista
mi_lista.append(8)
mi_lista

[1, 'Pepito', 3, 'Hola', True, 8]

In [ ]:
# Longitud de la lista
len(mi_lista)

6

In [ ]:
# Obtener elementos de lista
mi_lista[2:4]

(3, 'Hola')

In [ ]:
# Mostrar ultimo registro
mi_lista[-1]

'True'

In [ ]:
# Remover elemento
mi_lista.remove(1)
mi_lista

In [ ]:
# Copia de lista sin afectar modificaciones a la lista original
l1 = ['a', 'b', 'c']
l2 = l1
l2[1] = 'z'
l1
l3 = l1.copy()
l3[1] = 'd'
l3
l1

['a', 'z', 'c']

In [ ]:
# Unir lista
'-'.join(l1)
','.join(l1)

'a,z,c'

In [4]:
# Subconjunto de una lista
frutas = ["Manzana", "Pera", "Uva", "Naranja", "Kiwi"]
print(frutas[1:4])
print(frutas[:3])
print(frutas[3:])
print(frutas[::2])
print(frutas[-2:])
print(frutas[::-1])

['Pera', 'Uva', 'Naranja']
['Manzana', 'Pera', 'Uva']
['Naranja', 'Kiwi']
['Manzana', 'Uva', 'Kiwi']
['Naranja', 'Kiwi']
['Kiwi', 'Naranja', 'Uva', 'Pera', 'Manzana']

In [3]:
# Verificar si un elemento está en la lista
frutas = ["Manzana", "Pera", "Uva", "Naranja", "Kiwi"]
print("Pera" in frutas)
print("Banana" in frutas)

True
False

In [19]:
# Verificar si un elemento de una lista esta en otra lista
frutas = ["Manzana", "Pera", "Uva", "Naranja", "Kiwi"]
buscar = ["Banana", "Naranja"]

for i in buscar:
    if i in frutas:
        print(f"{i} SI está en la lista de frutas.")
    else:
        print(f"{i} No está en la lista de frutas.")

Banana No está en la lista de frutas.
Naranja SI está en la lista de frutas.

In [1]:
# Desempaquetado
una_fruta, *frutas = ["Manzana", "Pera", "Uva", "Naranja", "Kiwi"]
print(una_fruta)
print(frutas)

Manzana
['Pera', 'Uva', 'Naranja', 'Kiwi']

In [17]:
# Ordenar lista
num = [3, 1, 4, 1, 5, 9, 2, 6]
num.sort()
print(num)

frutas = ["manzana", "banana", "pera", "cereza", "aceituna", "naranja"]
frutas.sort()
print(frutas)

num = [3, 1, 4, 1, 5, 9, 2, 6]
orden_desc = sorted(num, reverse = True)
print(orden_desc)

frutas = ["manzana", "banana", "pera", "cereza", "aceituna", "naranja"]
orden_desc1 = sorted(frutas, reverse = True)
print(orden_desc1)

[1, 1, 2, 3, 4, 5, 6, 9]
['aceituna', 'banana', 'cereza', 'manzana', 'naranja', 'pera']
[9, 6, 5, 4, 3, 2, 1, 1]
['pera', 'naranja', 'manzana', 'cereza', 'banana', 'aceituna']

## **TUPLAS**

In [5]:
# Tupla
# La tupla es un objeto inmutable, es decir, no se puede cambiar los valores ingresados
mi_tupla = (1, 2, 3, "Hola", "True")
mi_tupla[4]

'True'

In [9]:
# Longitud de la tupla
len(mi_tupla)

6

In [11]:
# Obtener elementos de tupla
mi_tupla[2:4]

(3, 'Hola')

In [13]:
# Mostrar ultimo registro
mi_tupla[-1]

'True'

## **FOR, BREAK, CONTINUE**

In [29]:
sec = [1, 4, 5, 2, 3]
for ele in sec:
	print(ele)

1
4
5
2
3

In [30]:
for letra in 'Python':
	print(letra)

P
y
t
h
o
n

In [31]:
# Range
for x in range(4):
	print(x)

0
1
2
3

In [32]:
for i in range(len(sec)):
	print(sec[i])

1
4
5
2
3

In [33]:
# Enumerate
for indice, valor in enumerate(sec):
	print(f"Elemento {indice}: {valor}") # Formateo de cadena de texto
 # f: Imprime valor y texto

Elemento 0: 1
Elemento 1: 4
Elemento 2: 5
Elemento 3: 2
Elemento 4: 3

In [34]:
# Break: Sirve para terminar el proceso o bucle
for elemento in sec:
	print(elemento)
	if elemento == 5:
		break

1
4
5

In [35]:
# Continue: Sirve para hacer un salto, es decir se salta el paso donde este el continue
for elemento in sec:
	if elemento == 5:
		continue
	print(elemento)

1
4
2
3

## **WHILE**

In [36]:
cont = 0
while cont < 5:
	print(f"Contador: {cont}")
	cont += 1

Contador: 0
Contador: 1
Contador: 2
Contador: 3
Contador: 4

In [37]:
# Break
cont = 0
while True:
	print(f"Contador: {cont}")
	cont += 1
	if cont == 5:
		break

Contador: 0
Contador: 1
Contador: 2
Contador: 3
Contador: 4

In [38]:
# Continue
cont = 0
while cont < 5:
	cont += 1
	if cont == 3:
		continue  
	print(f"Contador: {cont}")

Contador: 1
Contador: 2
Contador: 4
Contador: 5

## **DICCIONARIOS Y CONJUNTOS**

In [41]:
diccionario = {"clave1": 3, "clave2": 5, "clave3": 7}
valor = diccionario["clave1"]
valor

3

In [42]:
# Modificar valores
diccionario["clave2"] = 10
diccionario

{'clave1': 3, 'clave2': 10, 'clave3': 7}

In [43]:
# Crear un nuevo item
diccionario["clave4"] = 15
diccionario

{'clave1': 3, 'clave2': 10, 'clave3': 7, 'clave4': 15}

In [ ]:
# Eliminar elemento
diccionario.pop("clave3")

In [47]:
diccionario

{'clave1': 3, 'clave2': 10, 'clave4': 15}

In [48]:
# Iterar sobre un diccionario (clave y valor)
for clave, valor in diccionario.items():
	print(f"Clave: {clave}, Valor: {valor}")

Clave: clave1, Valor: 3
Clave: clave2, Valor: 10
Clave: clave4, Valor: 15

In [49]:
# Iterar sobre un diccionario (solo la clave)
for ele in diccionario:
 	print(ele)

clave1
clave2
clave4

In [50]:
# Función keys()
diccionario.keys()

dict_keys(['clave1', 'clave2', 'clave4'])

In [51]:
# Función values() Valores
diccionario.values()

dict_values([3, 10, 15])

In [52]:
# Función items(). Lista de tuplas
diccionario.items()

dict_items([('clave1', 3), ('clave2', 10), ('clave4', 15)])

In [59]:
# Longitud
len(diccionario)

3

## **CONJUNTOS**

In [54]:
# Los elementos repetidos solo aparecen una vez
# Mantiene un orden
conjunto = {1, 9, 3, 3}
conjunto

{1, 3, 9}

In [55]:
# Union de conjuntos
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1 | set2

{1, 2, 3, 4, 5}

In [56]:
# Intersección de conjuntos
set1 & set2

{3}

In [57]:
# Diferencia de conjuntos
set1 - set2

{1, 2}

In [58]:
# Longitud
len(set1)

3

In [60]:
# Comprobar si un elemento esta en un conjunto
4 in set1

False

In [62]:
# Añadir elemento
conjunto.add(20)
conjunto

{1, 3, 9, 20}

In [ ]:
#Eliminar elemento
conjunto.remove(20)
conjunto

## **VARIABLES GLOBALES Y LOCALES**

In [ ]:
x= 10 # Variable global
def mi_función():
	y = 5 # Variable local
	print (x+y)
  
mi_función()

15

## **FUNCION INPUT Y PRINT**

In [2]:
nombre = input("Ingrese su nombre: ")
year = int(input("Ingrese su año de nacimiento: "))
#print("Nombre:", nombre,", Edad:", 2024-year)
print(f"Nombre: {nombre} Edad: {2024-year}")
#print("Nombre:", nombre,", Edad:", 2024-year, sep="-", end="##$$")

Nombre: Dar Edad: 24

## **FUNCIONES EN PYTHON**

In [65]:
def función(parámetro1, parámetro2):
	res = parámetro1 + parámetro2
	return res

función(2, 3)

5

In [69]:
def saludar (nombre, saludo):
	print(f"{saludo}, {nombre}!")
  
saludar("Juan", "Hola amigo")

Hola amigo, Juan!

In [70]:
# Parámetros predeterminados
def saludar (nombre, saludo="Hola mijo"):
	print(f"{saludo}, {nombre}!")
  
saludar("Juan")

Hola mijin, Juan!

In [1]:
# Parámetros arbitrarios
# *: El asterisco indica que puede tomar varios parámetros la función
def frutas(*args): 
	print("Mis frutas favoritas son:", args)
  
frutas("manzana", "banana", "cereza")

Mis frutas favoritas son: ('manzana', 'banana', 'cereza')

In [2]:
# Parámetros de palabras clave arbitrarios
# **: El doble asterisco se usa para pasar los parámetros en formato clave valor
# **kwargs es un parámetro que empaqueta una cantidad variable de argumentos de palabra clave en un diccionario.
def usuario(**kwargs): 
	print("Perfil del usuario:", kwargs)
  
usuario(nombre = "Carlos", edad = 27, ciudad = "Quito")

Perfil del usuario: {'nombre': 'Carlos', 'edad': 27, 'ciudad': 'Quito'}

In [1]:
def hola(**kwargs): #**kwargs puede tener culaquier etiqueta 
	print("Hola", end=' ')
	for clave, valor in kwargs.items():
		print(valor, end=' ')

hola(titulo="Señor", nombre="Alex", apellido="Smith", segundo_nombre="Python")

Hola Señor Alex Smith Python

In [7]:
# Funciones que devuelven múltiples valores en formato Tupla
def operaciones(a, b):
	suma = a+b
	resta = a-b
	producto = a*b
	division=a/b
	return suma, resta, producto, division

operaciones(9, 3)

(12, 6, 27, 3.0)

In [8]:
# Se puede separar cada resultado de la tupla
suma, resta, producto, division = operaciones(16, 4)
suma

20

In [9]:
resta

12

In [10]:
producto

64

In [11]:
division

4.0

In [ ]:
# Funciones que devuelven múltiples valores en formato Diccionario
def operaciones(a, b):
	suma = a+b
	resta = a-b
	producto = a*b
	division=a/b
	return {'suma':suma, 'resta': resta, 'producto':producto, 'division':division}

R=operaciones(9, 3)

In [14]:
R['suma']

12

In [1]:
# Funciones que devuelven múltiples valores pasando datos empaquetados n,m
def operaciones(a, b):
	suma = a+b
	resta = a-b
	producto = a*b
	division=a/b
	return suma, resta, producto, division

n,m = 9,3 # Datos empaquetados
operaciones(n,m)

(12, 6, 27, 3.0)